body {
    display:  grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:  100%;
    background-color: peachpuff;

}
.calculator{
   margin-left: 90px;
    background-color: lightyellow;
    border-radius: 10%;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(83, 111, 223, 0.806);
    width: 250px;
    border: red;
    border-style: dashed;
    border-width: 10px;
    animation: pulsateBorder 2s infinite;

}
@keyframes pulsateBorder {
    0%{ 
        border-color: red;
        background-color: aqua;
    }
    50%{
        border-color: black;
        border-color: cornflowerblue;
    }
    100%{
        border-color: pink;
        background-color: hotpink;

    }
    
}
#result{
    width: 90%;
   margin-bottom: 10px; 
   padding: 10px;
   font-size: 18px;
   background-color: bisque;
   font-weight: bold;
   margin-top: 10%;
   margin-bottom: 10%;
   border-radius: 10px;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

}
button{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(83, 111, 223, 0.806);


}
button:hover{
    background-color: cadetblue;
    color: azure;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    background-color: burlywood;
    font-size: 20px;
    animation: pulsateBorder 2s infinite;
    font-weight: bold;
}
    

